{% extends 'base.html' %}

{% block title %}
New order
{% endblock %}
{% block body %}
{% if orders %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Record</th>
      <th scope="col" colspan="2">Price</th>
    </tr>
  </thead>
  {# {% for order in orders %} #}
  {% for record in orders %}
  <tbody>
    <tr>
      <td>{{ record.artist }} - {{ record.album }}</td>
      <td>{{ record.price }}</td>
      <td class="col-1">
          <a class="btn btn-outline-danger" href="{% url 'records:delete_from_cart' record.pk %}">
            Delete
          </a>
      </td>
    </tr>
  {% endfor %}
  {# {% endfor %} #}
    <tr class="table-light">
      <td>Total price:</td>
      <td colspan="2">{{ price }}</td>
    </tr>
  </tbody>
</table>
{% if user.is_authenticated %}
  <a href="{% url 'customers:address' user.pk %}?next={{ request.path|urlencode }}" class="btn btn-primary">Checkout</a>
{% else %}
  <a href="{% url 'customers:login' %}" class="btn btn-primary">Checkout</a>
{% endif%}
{% else %}
  <h2 class="my-4">{{message}}</h2>
{% endif %}
{% endblock %}
