{% extends 'base.html' %}
{% block body %}
<div class="fs-5 my-4">
    <p class="my-1">Untitled</p>
    <p class="my-1">Voronezhskaya st., 1</p>
    <p class="my-1">8-XXX-XXX-XX-XX</p>
    <p class="my-1">untitled@untitled.com</p>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.7949589180969!2d30.34658921696857!3d59.91895019355458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631b2f627bcd3%3A0xc7060ea2bac91f64!2z0JLQvtGA0L7QvdC10LbRgdC60LDRjyDRg9C7LiwgMSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MTExOQ!5e0!3m2!1sru!2sru!4v1669713770161!5m2!1sru!2sru" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}